.www {
    white-space: nowrap;
    text-align: right;
    display: flex;
    justify-content: right;

    LABEL {
        flex: 0 0 auto;
        padding: 0px 4px;
        border-radius: 4px;
        display: flex;
        align-items: bottom;
        margin-left: 0.25em;
        DIV {
            flex: 0 0 auto;
        }
        INPUT {
            margin: 0 0.25em;
            flex: 0 0 auto;
        }
    }

    color: black;

    .want {
        background: #DFD;
    }

    .will {
        background: #FFD;
    }

    .wont {
        background: #FDD;
    }

    @media (prefers-color-scheme: dark) {
        color: white;

        .want {
            background: #090;
        }

        .will {
            background: #990;
        }

        .wont {
            background: #900;
        }
    }
}

.buttons {
    display: flex;
    justify-content: space-between;
    align-items: center;

    button:first-child {
        flex: 0 0 25%;
    }

    button {
        flex: 1 1 50%;
    }

    button:last-child {
        flex: 0 0 25%;
    }

    // disabled buttons in default colour, active buttons in blue
    //button:disabled {
    //    background-color: #e0e0e0;
    //}
    button:enabled {
        background-color: var(--link-color);
        color: white;
    }
}