BODY {background: #DDD;}

FOOTER {
	text-align: center;
	font-size: 0.75em;
	margin: 16px;
}
MAIN {
	background: #EEE;
	border: 1px solid black;
	padding-bottom: 16px;
}
H3 {margin-top: 16px;}

TABLE.zebra {border-spacing: 0px; border: 2px solid #CCC; border-collapse: inherit;}
TABLE.zebra TD, TABLE.zebra TH {vertical-align: middle; padding: 4px;}
TABLE.zebra THEAD TD, TABLE.zebra THEAD TH {border-bottom: 2px solid #CCC;}
TABLE.zebra TFOOT TD, TABLE.zebra TFOOT TH {border-top: 2px solid #CCC;}
TABLE.zebra TR TD {border-bottom: 1px solid #DDD;}
TABLE.zebra TR:nth-child(odd) {background: #EFEFEF;}
TABLE.zebra TR:nth-child(even) {background: #E0E0E0;}

LABEL {
	font-weight: normal;
	margin-bottom: 0px;
}

.www {
	white-space: nowrap;
	text-align: right;
}
.www INPUT {
	vertical-align: middle;
	margin-top: -6px;
}
.www LABEL {
	padding: 0px 4px;
	border-radius: 4px;
}
.www .want {
	background: #DFD;
}
.www .will {
	background: #FFD;
}
.www .wont {
	background: #FDD;
}

