<%def name="body(survey, response, theirs)">
<h1>Comparing answers for <a href="/survey/${survey.id}">${survey.name}</a>
% if theirs.privacy == "public" or theirs.privacy == "friends":
with ${theirs.user.username}
% else:
with [hidden]
% endif
</h1>
<p>${survey.long_description or ""}</p>

<ul>
	% for my_answer in response.answers:
		% for their_answer in theirs.answers:
			% if my_answer.question.matches(their_answer.question):
				% if my_answer.value + their_answer.value > 2:
					% if my_answer.question == their_answer.question:
						% if my_answer.value == their_answer.value:
							<li><b>You both ${my_answer.value_name()} "${my_answer.question.text}"</b></li>
						% else:
							<li>You ${my_answer.value_name()} / they ${their_answer.value_name()} "${my_answer.question.text}"</li>
						% endif
					% else:
						% if my_answer.value + their_answer.value == 4:
							<li><b>You ${my_answer.value_name()} "${my_answer.question.text}"
							and they ${their_answer.value_name()} "${their_answer.question.text}"</b></li>
						% else:
							<li>You ${my_answer.value_name()} "${my_answer.question.text}"
							and they ${their_answer.value_name()} "${their_answer.question.text}"</li>
						% endif
					% endif
				% endif
			% endif
		% endfor
	% endfor
</ul>
</%def>
