<%def name="body(survey, response, theirs)">
<!doctype html>
<html>
	<head>
		<meta charset="utf-8">
		<title>Link - ${survey.name}</title>
	</head>
	<body>

<h1>Comparing answers with ${theirs.user.username}</h1>
<br>${survey.description}

<ul>
	% for my_answer in response.answers:
		% for their_answer in theirs.answers:
			% if my_answer.question.matches(their_answer.question):
				% if my_answer.value + their_answer.value > 2:
					% if my_answer.question == their_answer.question:
						% if my_answer.value == their_answer.value:
							<li>You both ${my_answer.value_name()} "${my_answer.question.text}"</li>
						% else:
							<li>You ${my_answer.value_name()} / they ${their_answer.value_name()} "${my_answer.question.text}"</li>
						% endif
					% else:
						<li>You ${my_answer.value_name()} "${my_answer.question.text}" and they ${their_answer.value_name()} "${their_answer.question.text}"</li>
					% endif
				% endif
			% endif
		% endfor
	% endfor
</ul>

	</body>
</html>
</%def>

