<%def name="body(survey, response, compareto=None)">
<%
def checkedIf(b):
    if b:
        return 'checked="checked"'
    return ""

def selectedIf(b):
    if b:
        return 'selected="selected"'
    return ""
%>

<p>${survey.description}</p>
<p>${survey.long_description or ""}</p>

% if response:
<%
link = "http://link.shishnet.org/compare/%d/%d" % (survey.id, response.id)
#if response.privacy == "public":
#    link = "http://link.shishnet.org/compare/%d/%s" % (survey.id, response.user.username)
#elif response.privacy == "hidden":
#    link = "http://link.shishnet.org/compare/%d/%d" % (survey.id, response.id)
#else:
#    link = None
%>
% if link:
	<p>Give this link to someone so they can compare with you
	(they'll be prompted to fill in their answers first if they haven't already):
	<a href="${link}">${link}</a></p>
% endif
<form action="/survey/${survey.id}" method="POST">
	<input type="hidden" name="_method" value="DELETE">
	<input type="submit" value="Delete answers">
</form>
% endif

<form action="/survey/${survey.id}" method="POST">
	% if compareto:
		<input type="hidden" name="compareto" value="${compareto}">
	% endif
	<p>
	Privacy:
		<select name="privacy">
			<option value="hidden" ${selectedIf(response and response.privacy=="hidden")}
				>Hidden (Response will only be given an ID number and not linked to an account)</option>
			<option value="public" ${selectedIf(response and response.privacy=="public")}
				>Public (Show up in the list of people who answered)</option>
		</select>
		<input type="submit" value="Save answers">
	</p>

<p>Response range: want to avoid - willing to try - want to do (with the right person / conditions / etc, in each case)</p>
<table class="zebra">
<%
prev = None
%>
	% for question in survey.questions:
<%
if response:
    val = response.value(question.id)
else:
    val = 0
%>
		<tr>
			<td style="white-space: nowrap;">
				% if question.flip and question.flip == prev:
					&nbsp;&nbsp;&rarr;
				% endif
				${question.text}
			</td>
		<td style="white-space: nowrap;">
		Boo!
		<input type="radio" name="q${question.id}" value="-2" ${checkedIf(val == -2)}>
		<input type="radio" name="q${question.id}" value="1" ${checkedIf(val == 1)}>
		<input type="radio" name="q${question.id}" value="2" ${checkedIf(val == 2)}>
		Yay!
		&nbsp;&nbsp;&nbsp;(No response
		<input type="radio" name="q${question.id}" value="0" ${checkedIf(val == 0)}>)
		</td>
		<td>${question.extra or ""}</td>
		</tr>
		</li>
		<%
		prev = question
		%>
	% endfor
</table>
<input type="submit" value="Save answers">
</form>

<p>
<form action="/question/${survey.id}" method="POST">
	<input type="text" name="q1" placeholder="Question">
	<br><input type="text" name="q2" placeholder="Paired opposite (optional)">
	<br><input type="submit" value="Add question">
</form>

</%def>
