<%def name="body(user, surveys, responses)">

<div id="body" class="container">
	<div class="row">
% if not user:
		<div class="col-md-9">
% else:
		<div class="col-md-12">
% endif

<p>How this site works: you say what you like; your friends say what they like;
the site tells you what you have in common.</p>
<p>Why? Say I have a terrible secret that I like singing along to S-Club 7, which
I will never admit to in public. If any of my friends are also into that, then we
can find each other and have secret S-Club karaoke sessions. My other friends who
don't like S-Club will never know :D</p>
<p>This isn't foolproof; somebody could claim to like everything just to see what
matches they get - but if one of your friends does that, you should punch them
in the face until they stop doing that :3</p>
<ul>
	% for survey in surveys:
		<li>
			<a href="/survey/${survey.id}">${survey.name} - ${survey.description}</a>
			<!-- [${survey.user.username}] -->
			% for response in responses:
				% if response.survey == survey:
					<%
					new_count = len(survey.questions) - len(response.answers)
					%>
					% if new_count > 0:
						(${new_count} recently added)
					% endif
				% endif
			% endfor
		</li>
	% endfor
</ul>

		</div>
% if not user:
		<div class="col-md-3">

<h3 name="login">Create Account</h3>
<center>
<form action="/user/create" method="POST">
	<table id="login" class="form">
		<tr><td>Username</td><td><input type="text" name="username"></td></tr>
		<tr><td>Password</td><td><input type="password" name="password1"></td></tr>
		<tr><td>Repeat</td><td><input type="password" name="password2"></td></tr>
		<tr><td>Email</td><td><input type="text" name="email" placeholder="Optional"></td></tr>
		<tr><td colspan="2"><input type="submit" value="Create"></td></tr>
	</table>
</form>
</center>
		</div>
% endif
	</div>
</div>
</%def>
