## vim:ts=4
<%def name="body(user, survey, response, compare=None)">
<%
def checkedIf(b):
    if b:
        return 'checked="checked"'
    return ""

def selectedIf(b):
    if b:
        return 'selected="selected"'
    return ""
%>

<p>${survey.description}</p>
<p>${survey.long_description or ""}</p>

% if response:
<%
link = "http://link.shishnet.org/response/%d" % (response.id)
#if response.privacy == "public":
#    link = "http://link.shishnet.org/compare/%d/%s" % (survey.id, response.user.username)
#elif response.privacy == "hidden":
#    link = "http://link.shishnet.org/compare/%d/%d" % (survey.id, response.id)
#else:
#    link = None
%>
% if link:
	<p>Give this link to someone so they can compare with you
	(they'll be prompted to fill in their answers first if they haven't already):
	<a href="${link}">${link}</a></p>
% endif
<form action="/response/${response.id}" method="POST">
	<input type="hidden" name="_method" value="DELETE">
	<input type="submit" value="Delete answers">
</form>
% endif

% if survey.user == user:
<form action="/survey/${survey.id}" method="POST">
	<input type="submit" value="Set order">
</form>
% endif

<form action="/response" method="POST">
	<input type="hidden" name="survey" value="${survey.id}">
	% if compare:
		<input type="hidden" name="compare" value="${compare}">
	% endif
	<p>
		Privacy:
		<select name="privacy">
			<!--
			<option value="private" ${selectedIf(response and response.privacy=="private")}
				>Private (You need to give someone a key for them to see it)</option>
			-->
			<option value="friends" ${selectedIf(response and response.privacy=="friends")}
				>Friends Only (Friends can see, others can't)</option>
			<option value="hidden" ${selectedIf(response and response.privacy=="hidden")}
				>Hidden (Response will only be given an ID number and not visibly linked to an account)</option>
			<option value="public" ${selectedIf(response and response.privacy=="public")}
				>Public (Show up in the list of people who answered)</option>
		</select>
		<input type="submit" value="Save answers">
	</p>

<p>Response range: want to avoid - willing to try - want to do (with the right person / conditions / etc, in each case)</p>
<table class="zebra">
<%
prev = None
%>
	% for question in sorted(survey.questions + survey.headings):
		% if question.entry_type == "heading":
		<tr>
			<td colspan="3"><b>${question.text}</b></td>
		</tr>
		% else:
		<tr>
			<td style="white-space: nowrap;">
			% if survey.user == user:
				${question.id} - ${question.order}
				<a href="/question/${question.id}/up">&uarr;</a>
				<a href="/question/${question.id}/down">&darr;</a>
				<a href="/question/${question.id}/remove">X</a>
			% endif
				% if question.flip and question.flip == prev:
					&nbsp;&nbsp;&rarr;
				% endif
				${question.text}
			</td>
			<td style="white-space: nowrap;">
				<%
				val = response.value(question.id) if response else 0
				%>
				Boo!
				<input type="radio" name="q${question.id}" value="-2" ${checkedIf(val == -2)}>
				<input type="radio" name="q${question.id}" value="1" ${checkedIf(val == 1)}>
				<input type="radio" name="q${question.id}" value="2" ${checkedIf(val == 2)}>
				Yay!
				&nbsp;&nbsp;&nbsp;(No response
				<input type="radio" name="q${question.id}" value="0" ${checkedIf(val == 0)}>)
			</td>
			<td>${question.extra or ""}</td>
		</tr>
		<%
		prev = question
		%>
		% endif
	% endfor
</table>
<input type="submit" value="Save answers">
</form>

##% if survey.user == user:
<p>
<form action="/question" method="POST">
	<input type="hidden" name="survey" value="${survey.id}">
	<input type="text" name="q1" placeholder="Question">
	<br><input type="text" name="q2" placeholder="Paired opposite (optional)">
	<br><input type="text" name="q1extra" placeholder="Extra description for Q1">
	<br><input type="submit" value="Add question">
</form>
##% endif

</%def>
